<!DOCTYPE html>
<html>
<head>
  <title>DeviseMultipleTokenAuth</title>
  <%= stylesheet_link_tag    "devise_multiple_token_auth/application", media: "all" %>
  <%= javascript_include_tag "devise_multiple_token_auth/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
